{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.spaceBetween {
    justify-content: space-between;
}
header {
    align-items: center;
    background-color: black;
    padding: 20px 80px;
}
.logo {
    width: 50%;
}
.logo {
    width: 100%;
}
.logo{
    height: 50;

}
ul {
    list-style-type: none;
}
nav {
    width: 50%;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}